@import 'src/theme/mediaQueries.scss';
img {
    width: 100% !important;
    height: auto !important;
}

.main-title {
    // text-align: center;
    margin: 0;
}

.preTagStyle {
    white-space: pre-wrap !important;
    font-size: 0.9em !important;
}

.post-main-container {
    margin-bottom: 80px;
}

.post-container{
    padding: 16px;
    @include md {
        padding: 16px 8%;
    }
}