<app-header headerType="main"></app-header>
<ion-content>
    <div class="ion-padding">
        <div class="cat-cards-container">
            <!-- Component proposal -->
            <ion-card class="cat-card-container i-padding" 
            *ngFor="let cat of categories" (click)="goPostsByCat(cat.id)" 
            style="-webkit-background-size: 100%;
                    -moz-background-size: 100%;
                    background-size: 100%;"
            [ngStyle]="{'background-image' : 'linear-gradient(to bottom, rgba(128, 128, 128, 0.01), rgba(128, 128, 128, 0.7)), url(' + cat.image + ')' }">
                <div class="card-title-container">
                    <ion-card-title>{{cat.name}}</ion-card-title>
                    <ion-card-subtitle>{{cat.count}} articles</ion-card-subtitle>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>