<app-header headerType="page"></app-header>
<ion-content>
    <div class="cat-page-conatiner">
        <!-- Ion select -->
        <ion-item>
            <ion-label>Filtros</ion-label>
            <ion-select #filtersSelect (ionChange)="filterPosts(filtersSelect.value)" interface="popover" placeholder="Filtrar Posts por:">
                <!-- Taxonomis goes here -->
                <ion-select-option [value]="-1"> Todas </ion-select-option>
                <ng-container *ngFor="let tag of allTags">
                    <ion-select-option [value]="tag.id">{{tag.name}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <!-- Ion-select -->
        <div class="cat-cards-container">
            <!-- Component proposal -->
            <ion-card class="cat-card-container cat-card i-padding" *ngFor="let post of allPosts" (click)="goPost(post.id)" style="-webkit-background-size: 100%;
                    -moz-background-size: 100%;
                    background-size: 100%;" [ngStyle]="{'background-image' : 'url(' + post.featured_image.large + ')' }">
                <div class="car-title-container">
                    <ion-card-title>{{post.title}}</ion-card-title>
                </div>
            </ion-card>
        </div>
        <ng-container *ngIf="pageFilterModeFlag; else elseTemplate">
            <!-- <h1>Tag Loading</h1> -->
            <ion-infinite-scroll #infiLoadingEl [disabled]="!infinityLoadingFlag" threshold="5%" position="bottom" (ionInfinite)="loadMorePostByTag($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ng-container>
        <ng-template #elseTemplate>
            <ion-infinite-scroll #infiLoadingEl [disabled]="!infinityLoadingFlag" threshold="5%" position="bottom" (ionInfinite)="loadMorePost($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ng-template>
    </div>
</ion-content>