<app-header headerType="page"></app-header>

<ion-content>
    <div class="ion-padding">
        <!-- Ion select -->
        <ion-item>
            <ion-label>Filtros</ion-label>
            <ion-select #filtersSelect (ionChange)="postFilter(filtersSelect.value)" interface="popover" placeholder="Filtrar Posts por:">
                <!-- Taxonomis goes here -->
                <ion-select-option value="all"> Todas </ion-select-option>
                <ng-container *ngFor="let tag of allTags">
                    <ion-select-option [value]="tag.term_taxonomy_id">{{tag.name}}</ion-select-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <!-- Ion-select -->
        <div class="cat-cards-container">
            <!-- Component proposal -->
            <ion-card class="cat-card-container i-padding" *ngFor="let post of allPosts" (click)="goPost(post.id)" [ngStyle]="{'background-image' : 'linear-gradient(to bottom, rgba(128, 128, 128, 0.01), rgba(128, 128, 128, 0.7)), url(' + post.featured_image.medium + ')' }">
                <div class="card-title-container">
                    <ion-card-title>{{post.title}}</ion-card-title>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>