$breakpoints: ( 
s: 0, // Todos los tamaños,
sm: 540px, 
m: 768px, // ~ 768px
lg: 960px, // ~ 960px
xl: 1200// ~1200
);
$breakpoint-sm: 540px;
$breakpoint-s: 0;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1200;