<app-header headerType="page"></app-header>

<ion-content>
    <div class="cat-cards-container">
        <!-- Component proposal -->
        <!-- <ion-card class="cat-card-container cat-card i-padding" *ngFor="let post of allPosts" (click)="goPost(post.id)" style="-webkit-background-size: 100%;
                -moz-background-size: 100%;
                background-size: 100%;" [ngStyle]="{'background-image' : 'url(' + post.featured_image_urls.large + ')' }">
            <div class="car-title-container">
                <ion-card-title>{{post.title}}</ion-card-title>
            </div>
        </ion-card> -->
    </div>
</ion-content>
