<app-header headerType="page"></app-header>

<ion-content class="ion-padding">
  <ion-img src="assets/img/guia_para_negocios_logo.png" alt=""></ion-img>
  <div class="about-content-container">
      <p>
        El App de GuiaParaNegocios.com fue creada con el propósito de presentar ideas o guías de negocios en diferentes industrias que te permitirán generar ingresos a tiempo completo o parcial.
      </p>
      <p>
        Si buscas ideas de negocios, pero no sabes por dónde comenzar o no tienes claro cómo funciona ese modelo de negocio, descarga el app y descubre todas las oportunidades que están disponible para ti.
      </p>
      <p>Nuestra aplicación te ayudará a identificar ideas de negocios y te brindará una guía para que tengas un mejor conocimiento acerca de ese modelo de negocio.
        <br>
        Cada Guía de negocio cuenta con:
      </p>
      <ul>
        <li>Resumen del negocio</li>
        <li>Aspectos financieros (Inversión inicial e ingreso bruto proyectado)</li>
        <li>Canales de ingresos</li>
        <li>Gastos iniciales</li>
        <li>Ventajas y desventajas del modelo de negocio</li>
        <li>Requisitos para operar</li>
        <li>Equipos y facilidades requeridas</li>
        <li>Recursos humanos</li>
        <li>Estrategias de mercadeo</li>
        <li>Consejos de ese modelo de negocios</li>
      </ul>
      <p>
        Esta aplicación fue desarrollada pensando en las personas como tú. Personas que están buscando opciones para generar ingresos nuevos o adicionales.
        <br>
        Esta aplicación es única y cuenta con:
      </p> 
        <ul>
          <li><strong>Actualizada al 2020:</strong> Todos los modelos de negocios son legítimos y están actualizados a lo que está pasando en sus respectivas industrias en el 2020.</li>
          <li><strong>Adaptadas a la nueva realidad:</strong> Comenzamos a publicar guías de negocios que puedes desarrollar online o de forma remota.</li>
          <li><strong>Múltiples categorías:</strong> Aunque lanzamos con 5 categorías diferentes, en las próximas semanas estaremos subiendo a la aplicación sobre 25 categorías adicionales. En esta aplicación encontrarás guías de negocios en línea, salud, alimentos, construcción, servicios al hogar y negocios, entre otros.</li>
          <li><strong>Constante desarrollo:</strong> Sobre 25 guías de negocios ya fueron publicadas y sobre 40 adicionales serán publicadas en las próximas semanas.</li>
          <li><strong>Información práctica:</strong> Cada modelo de negocio cuenta con información práctica que te ayudará a entender los aspectos más importantes de ese modelo de negocio.
          </li>
          <li><strong>Plataforma Integrada:</strong> Nuestra aplicación es parte de la plataforma educativa que provee GuiaParaNegocios.com. En adición encontrarás videos educativos, información sobre permisos, registros comerciales, incentivos y opciones de financiamiento. Es la aplicación perfecta para los emprendedores o personas que buscan generar ingresos suplementarios.</li>
        </ul>
  </div>
</ion-content>
